# General exluded files
*.swp
*.o
__pycache__
.DS_Store
.ropeproject
.nfs*
.vscode
*.egg-info/
*.pyc
*.mypy_cache

# Data directories
DATA
OUTPUTS

# python notebook related
*/.cph_*
*.ipynb_checkpoints

# other codebases
external/rulstm
